@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans&display=swap');

body {
  color: black;
  font-family: "PT Sans", "sans-serif";
}
/* .login-card form {
  max-width: 30%;
} */