@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans&display=swap');

body {
  color: black;
  font-family: "PT Sans", "sans-serif";
}
.cardimg{
  height: 250px;
  width: 250px;
  margin-left: 35px;
  margin-top: 15px;
}

.react-bs-container-body tr {
  border-top-style: hidden !important;
}

.react-bs-container-header tr {
  border-bottom-style: hidden !important;
}

#dashboardContainer{
  justify-content:center;
  align-items:center;
  margin-left: 25%;
  margin-top: 25%;
  width: 50%;
}
#searchbutton{
  margin-top: 1rem;
  background-color: #FF5A5F
}

.AddtoCart{
  background-color: #FF5A5F;
  border: none;
}
#searchBar{
  display: inline-block;
  width: 250%;
  height: 7%;
}
/* .login-card form {
  max-width: 30%;
} */