.App {
  color: black;
}


body {
  color: black;
}

.menu-item{
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.landing-column {
  background-image: url("ninja.jpg");
}
